@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    --brand1: #00A9ff;
    --brand2: #080808;
}

body {
    background: #141414;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

html, #root, .App {
    height: 100%;
}

.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1040;
}

.navigation {
    background: var(--brand2);
    height: 60px;
}

.logo > img {
    width: auto;
    height: 36px;
}

.navigation-title {
    font-size: 20px;
}

.node-item {
    background: rgba(8, 8, 8, 0.45);
}

.node-details {
    background: rgba(8, 8, 8, 0.45);
}

/* Changes to bootstrap classes */
.progress {
    background:rgba(255, 255, 255, 0.05);
    height: .8rem;
}

.alert-danger {
    background-color: #141414;
    border-color: #DC3545;
}

.navigation-title a,
.navigation-title a:hover,
.navigation-title a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

small {
    font-size: 14px
}